{% if results.next or results.prev %}
<nav class="pagination align-center mt-6" aria-label="Pagination">
  <menu class="buttons">
    <li><a {% if results.prev %}href="{{ pg_url | safe }}before={{ results.prev | urlencode }}"{% else %}aria-disabled="true"{% endif %} class="button outline small">&larr; Previous</a></li>
    <li><a {% if results.next %}href="{{ pg_url | safe }}after={{ results.next | urlencode }}"{% else %}aria-disabled="true"{% endif %} class="button outline small">Next &rarr;</a></li>
  </menu>
</nav>
{% elif results.page > 1 or results.has_more %}
<nav class="pagination align-center mt-6" aria-label="Pagination">
  <menu class="buttons">
    <li><a {% if results.page > 1 %}href="{{ pg_url | safe }}page={{ results.page - 1 }}"{% else %}aria-disabled="true"{% endif %} class="button outline small">&larr; Previous</a></li>
    <li><a {% if results.has_more %}href="{{ pg_url | safe }}page={{ results.page + 1 }}"{% else %}aria-disabled="true"{% endif %} class="button outline small">Next &rarr;</a></li>
  </menu>
</nav>
{% endif %}
