<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}pkg.bot - Fast Linux package search{% endblock %}</title>
  <meta name="description" content="{% block description %}Search packages across Linux distributions and package repositories.{% endblock %}" />

  <link rel="icon" href="/static/favicon.svg?v={{ asset_ver }}" type="image/svg+xml" />
  {%- if feed_url is defined %}
  <link rel="alternate" type="application/rss+xml" title="{% block feed_title %}pkgbot feed{% endblock %}" href="{{ feed_url }}" />
  {%- endif %}
  <link rel="stylesheet" href="/static/oat.min.css?v={{ asset_ver }}" type="text/css" />
  <link rel="stylesheet" href="/static/bundle.css?v={{ asset_ver }}" type="text/css" />
  <script type="module" src="/static/bundle.js?v={{ asset_ver }}"></script>
</head>
<body class="{{ page_type }}">
<div class="container">
  <header class="header">
    <div class="row items-center">
      <div class="logo col-3">
        <a href="{{ consts.root_url | safe }}/" class="unstyled"><img src="/static/logo.svg?v={{ asset_ver }}" alt="pkg.bot logo" /></a>
        <p class="tagline text-light">Fast Linux package search</p>
      </div>

      <div class="search col-9">
        {% if repo is defined %}{% include "partials/search-bar.html" %}{% endif %}
      </div>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer id="footer">
    <a href="{{ consts.root_url | safe }}/p/about">About</a>
    <a href="https://github.com/knadh/pkg.bot"><svg class="icon icon-github" aria-hidden="true" focusable="false"><use href="/static/icons.svg?v={{ asset_ver }}#github"></use></svg> @knadh/pkg.bot</a>
    <span>Data from <a href="https://repology.org">Repology</a></span>
  </footer>

</div><!-- container -->
</body>
</html>
